<div class="pure-u-1-2 pure-u-md-1-4 pure-u-lg-1-6">
    <div class="pure-g">
        <div class="widget-info" style="margin: 0 auto;">
            <div class="pure-u-1-1">
                <div class="widget-info-name">{{data.script_name}}</div>
            </div>
            <div class="widget-info-content">
                <div class="pure-g">
                    <img style="height:60px; width:100%" src="data:image/png;base64,{{data.image}}" ng-click="onLaunch (data)" />
                </div>
            </div>
        </div>
    </div>
</div>